mixin list(itemsArray)
  ul(class=itemsArray[0].class + '__list')
    each item in itemsArray
      li(class=item.class + '__item')
        button(
          class=item.class + '__button',
          type=item.type,
          data-theme=item.theme,
          disabled=item.disabled
        ) #{ item.textButton }
