extends ./layouts/default

block variables
  - var title = 'Закрывающий тег';
  - var faviconIco = './images/favicon.svg';
  - var faviconSvg = './images/favicon.svg';

block content
  main
    section.content-section
      include ./components/cards/cards.pug
      button.button.floppy-button(
        type='button',
        aria-haspopup='dialog',
        aria-controls='dialog-floppy',
        onclick='window[\'dialog-floppy\'].showModal()'
      )
        svg(
          viewBox='0 0 39 39',
          width='21px',
          height='21px',
          xmlns='http://www.w3.org/2000/svg'
        )
          use.floppy(href='./images/floppy.svg#floppy')
        span.button__text= 'сохранить на память'
